body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  padding-top: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: "Times New Roman", Times, serif;
}

.white-mode {
  background-color: white;
  color: black;
}

#fontChange {
  display: flex;
  gap: 3rem;
  min-width: 30vw;
  margin:2rem;
}

#quoteDisplay {
  font-size: 30px;
  margin: 20px 0;
  width: 70vw;
  height: 50vh;
  text-align: center;
  justify-self: center;
  display: block;
  padding: 1rem;
  overflow-y: scroll;
  scrollbar-width:none; 
  word-wrap: break-word;
  word-break: break-word;
}



#changeQuote {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

#prevBtn,
#randomBtn,
#nextBtn {
  width: 7rem;
}

#modeToggle {
  position: fixed;
  top: 0.5rem;
  right: 2rem;
  z-index: 1;
}

#categorySelect {
  position: fixed;
  top: 0.5rem;
  right: 12rem;
  z-index: 1;
}



button,
select {
  margin: 5px;
  padding: 0.8rem 1.2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background: aqua;
  border-radius: 2rem;
}

@media (max-width: 420px) { 
  #fontChange {
    flex-direction: column; 
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }
  #modeToggle{
    right: 0.5rem;
  }
  #categorySelect {
    right: 10rem;
  }
  #quoteDisplay {
    width: 90vw;
  }
}
